{% extends 'base.html.twig' %}

{% block title %}Adrien Gras - Parcours{% endblock %}

{% block body %}
{% include "homepage/partials/menu.html.twig" %}

<div id="head-block">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-12 my-auto">
                <h1 class="display-4">{ Hello, world! }</h1>
                <p class="lead">Bienvenue sur ma page personnelle. N'hésitez pas à faire un tour et à me contacter si vous voulez des infos :).</p>
            </div>
        </div>
    </div>
</div>

<div class="bg-purple-transparent">
    <div class="container h-100 pt-5 pb-5">
        <div class="row h-100">
            <div class="col-md-12">
                <blockquote class="blockquote">
                    <p class="mb-0 font-italic">
                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                        If you want more effective programmers, you will discover that they should not waste their time debugging, they should not introduce the bugs to start with.
                        <i class="fa fa-quote-right" aria-hidden="true"></i>
                    </p>
                    <footer class="blockquote-footer text-right pt-1">Edsger W. Dijkstra</footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>

<div class="">
    <div class="container h-100 py-3">
        <div class="row h-100">
            <div class="col-md-12">
                <h1>Compétences</h1>
            </div>
        </div>

        <div class="row h-100 pt-3">
            <div class="col-md-3">
                <div class="text-center pb-2">
                    <i class="fa fa-code fa-5x" aria-hidden="true"></i>
                    <h3 class="text-center">Développement</h3><br/>
                </div>
                <div class="font-weight-bold">Langages et frameworks</div>
                <ul>
                    <li>PHP Symfony 3, 4 & 5</li>
                    <li>Python</li>
                    <li>Java</li>
                    <li>Ruby on rails</li>
                </ul>
                <div class="font-weight-bold">Techologies</div>
                <ul>
                    <li>MySQL</li>
                    <li>ElasticSearch</li>
                    <li>Redis</li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="text-center">
                    <i class="fas fa-server fa-5x" aria-hidden="true"></i>
                    <h3 class="text-center">Système & infrastructures</h3>
                </div>
                <div class="font-weight-bold">Déploiement d'infrastructures</div>
                <ul>
                    <li>Sécurité des systèmes linux</li>
                    <li>Mise en réseau de serveurs</li>
                    <li>Scripting</li>
                </ul>
                <div class="font-weight-bold">Déploiement applicatif</div>
                <ul>
                    <li>Automatisations des déploiements</li>
                    <li>Gestion de déploiement "à chaud"</li>
                    <li>Gestion d'incident, MCO</li>
                </ul>
                <div class="font-weight-bold">Techologies</div>
                <ul>
                    <li>Systèmes linux</li>
                    <li>Docker</li>
                    <li>Ansible</li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="text-center">
                    <i class="fa fa-cog fa-5x" aria-hidden="true"></i>
                    <h3 class="text-center">Architecture et produit</h3>
                </div>
                <div class="font-weight-bold">Architecture logicielle</div>
                <ul>
                    <li>Modélisation d'application</li>
                    <li>algorithmie complèxe</li>
                    <li>Design pattern</li>
                    <li>Communications inter-système et APIs</li>
                </ul>
                <div class="font-weight-bold">Design produit</div>
                <ul>
                    <li>Création & suivi de cahier des charges</li>
                    <li>Spécification & documentation technique & fonctionnelle</li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="text-center pb-2">
                    <i class="fa fa-users fa-5x" aria-hidden="true"></i>
                    <h3 class="text-center">Managment</h3><br/>
                </div>
                <div class="font-weight-bold">Gestion d'équipe</div>
                <ul>
                    <li>Gestion d'équipes techniques</li>
                </ul>
                <div class="font-weight-bold">Méthodologies</div>
                <ul>
                    <li>Scrum / Agile</li>
                    <li>Développement rapide cycle en V</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="bg-purple">
    <div class="container h-100 py-3">
        <!-- experience -->
        <div class="row h-100">
            <div class="col-md-12">
                <h1>Expériences</h1>
            </div>
        </div>

        <div class="row h-100 pt-1">
            <div class="col-md-3 font-weight-bold text-right">
                oct. 2020 – maintenant
            </div>
            <div class="col-md-9">
                <div class="font-weight-bold">Freelance</div>
                <div>Fort de mon expérience de développeur, puis d'architecte solution dans la finance internationnale pendant 5 ans, j'ai décidé de lancer ma propre aventure pour pouvoir continuer à évoluer dans la tech, tout en accompagnant tout ceux qui voudront lancer un projet orienté tech.</div>
                <br />
                <div>Points forts :
                    <ul>
                        <li>Un accompagnement sur mesure pour votre projet.</li>
                        <li>Un conseil adapté à vos besoins et votre budget.</li>
                        <li>Une transparence totale sur les nécessités techniques liés à vos besoins.</li>
                        <li>La possibilité de suivre les développements par étape.</li>
                        <li>Une facturation claire définie une fois les spécificités du projet étudiés..</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row h-100 pt-1">
            <div class="col-md-3 font-weight-bold text-right">
                mars 2019 – sept. 2020
            </div>
            <div class="col-md-9">
                <div class="font-weight-bold">Responsable de pôle architecture logicielle & système - iBanFirst</div>
                <div>Gestion d'une équipe d'architecture logicielle & système, ainsi que de l'équipe de production/exploitation.</div>
                <br />
                <div>Missions :
                    <ul>
                        <li>Accompagnement de l'équipe de développement dans la conception logicielle, l'algorithmie complexe et modélisation.</li>
                        <li>Accompagnement de l'équipe de production/exploitation pour le déploiement de solutions système et bas niveau.</li>
                        <li>Élaboration de processus de conception et maintenance applicative et du SI.</li>
                        <li>Élaboration des normes et standards de qualité de code et suivi de l'équipe de développement.</li>
                        <li>Gestion de la base documentaire sur la conception et l'architecture logicielle/système.</li>
                        <li>Participation à la sécurisation du SI.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row h-100 pt-1">
            <div class="col-md-3 font-weight-bold text-right">
                sept. 2017 – mars 2019
            </div>
            <div class="col-md-9">
                <div class="font-weight-bold">Responsable de l'équipe de développement - iBanFirst</div>
                <div>Gestion d'une équipe de 10 développeurs et développement Symfony 3.</div>
                <br />
                <div>Missions :
                    <ul>
                        <li>Gestion d'une équipe de 10 développeurs</li>
                        <li>Planification et gestion de projets en mode agile</li>
                        <li>Coordination de l'équipe de développement avec les équipes projets</li>
                        <li>Développement Symfony3</li>
                        <li>Création, maintenance et support d'API ReST en surcouche de plateforme Symfony3</li>
                        <li>Intégration API et développement de connecteurs PHP avec de multiples partenaires (Twilio, Stripe, Wirecard, etc.)</li>
                        <li>Aide à la sécurisation des développements et du SI.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row h-100 pt-1">
            <div class="col-md-3 font-weight-bold text-right">
                sept. 2015 – sept. 2017
            </div>
            <div class="col-md-9">
                <div class="font-weight-bold">Développeur back-end - iBanFirst</div>
                <div>Développement back-end Symfony 2 et 3.</div>
                <br />
                <div>Missions :
                    <ul>
                        <li>Création, maintenance et support d'API ReST en surcouche de plateforme Symfony2.</li>
                        <li>Intégration API et développement de connecteurs PHP avec de multiples partenaires (Twilio, Stripe, Wirecard, etc.).</li>
                        <li>Création et maintenance d'un softphone (via Twilio) client léger avec intégration de file d'attente et affichage temps réel lié, redirections d'appels, journal d'appel utilisateur et intégration avec le CRM d'IbanFirst.</li>
                        <li>Aide à la création et maintenance de l'infrastructure serveur de production.</li>
                        <li>Aide à la sécurisation des développements et du SI.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-grey">
    <div class="container h-100 py-3">
        <div class="row h-100">
            <div class="col-md-12">
                <h1>Formation</h1>
            </div>
        </div>

        <div class="row h-100 pt-3">
            <div class="col-md-3 font-weight-bold text-right">
                2015
            </div>
            <div class="col-md-9">
                <div class="font-weight-bold">Licence Professionnelle : Conception et Maintenance des Services Intranet - Internet</div>
                <div>Université de Reims Champagne-Ardenne</div>
            </div>
        </div>

        <div class="row h-100 pt-1">
            <div class="col-md-3 font-weight-bold text-right">
                2014
            </div>
            <div class="col-md-9">
                <div class="font-weight-bold">Diplôme Universitaire Technologique : Informatique</div>
                <div>IUT de Reims Châlons Charleville</div>
            </div>
        </div>

        <div class="row h-100 pt-1 pb-3">
            <div class="col-md-3 font-weight-bold text-right">
                2011
            </div>
            <div class="col-md-9">
                <div class="font-weight-bold">Baccalauréat : Economie & social</div>
                <div>Lycée Saint-Joseph de Reims</div>
            </div>
        </div>

    </div>
</div>

<div class="">
    <div class="container h-100 py-3">
        <div class="row h-100">
            <div class="col-md-12">
                <h1>Passions</h1>
            </div>
        </div>

        <ul>
            <li>Informatique, nouvelles technologies, électronique, sciences.</li>
            <li>Jeux vidéos, jeux da cartes à collectionner, legos.</li>
            <li>Musique, guitare.</li>
            <li>Cinéma, Séries, Science-fiction.</li>
        </ul>
    </div>
</div>

{% include "homepage/partials/footer.html.twig" %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}

