{% extends 'base.html.twig' %}

{% block title %}Adrien Gras - Accueil{% endblock %}

{% block body %}
{% include "homepage/partials/menu.html.twig" %}

<div id="mainpage-head-block">
	<div class="container h-100">
		<div class="row h-100">
			<div class="col-md-12 my-auto">
				<h1 class="display-3" id="mainpage-big-header">Une solution adaptée à vos besoins.</h1>
			</div>
		</div>
	</div>
</div>


<div class="container pt-3">
	<div class="row h-100 pt-5">
		<div class="col-md-3 mx-auto animate__animated animate__fadeIn animate__delay-1s">
			<div class="text-center pb-3">
				<i class="fas fa-book fa-6x icoMain"></i>
				<hr />
				<div class="mt-3 h4">
					Un audit pré-projet pour cerner au mieux vos besoins.
				</div>
			</div>
		</div>
		<div class="col-md-3 mx-auto animate__animated animate__fadeIn animate__delay-2s">
			<div class="text-center pb-3">
				<i class="fas fa-user-friends fa-6x icoMain"></i>
				<hr />
				<div class="mt-3 h4">
					Une communication constante tout au long du projet.
				</div>
			</div>
		</div>
		<div class="col-md-3 mx-auto animate__animated animate__fadeIn animate__delay-3s">
			<div class="text-center pb-3">
				<i class="fas fa-tasks fa-6x icoMain"></i>
				<hr />
				<div class="mt-3 h4">
					Un suivi complet, du design de la solution, à sa mise en production.
				</div>
			</div>
		</div>
	</div>
</div>

	<div class="container">
		<hr/>
	</div>

<div class="container">
	<div class="row h-100 pt-5">
		<div class="col-md-12 pt-2">
			<h1 class="text-center display-4">Comment se déroule un projet avec moi ?</h1>
		</div>
	</div>
</div>


	<div class="container h-100">
		<div class="row mt-4">
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<div class="row">
						<div class="col-md-1 mx-auto my-auto">
							<h1 class="default-2 text-center">1</h1>
						</div>
						<div class="col-md-11">
							<h4 class="mt-2">Préparation</h4>
							<div class="text-left">
								Nous préparons ensemble le projet, en passant par des étapes de réflexion autour des besoins, une construction des fonctionnalités, un maquettage des designs et nous fixons ensemble les objectifs et points clés pour la réussite de votre projet.
							</div>
						</div>
					</div>
				</li>
				<li class="list-group-item">
					<div class="row">
						<div class="col-md-1 mx-auto my-auto">
							<h1 class="default-2 text-center">2</h1>
						</div>
						<div class="col-md-11">
							<h4 class="mt-2">Devis</h4>
							<div class="text-left">
								Une fois les objectifs, les clés de réussite et les spécificités étudiés, nous établissons un devis qui correspond au mieux à votre projet et à sa réalisation.
							</div>
						</div>
					</div>
				</li>
				<li class="list-group-item">
					<div class="row">
						<div class="col-md-1 mx-auto my-auto">
							<h1 class="default-2 text-center">3</h1>
						</div>
						<div class="col-md-11">
							<h4 class="mt-2">Réalisation</h4>
							<div class="text-left">
								Dès que le projet est lancé, vous pouvez à tout moment demander une réunion de suivi pour avoir une mise à jour de l'avancement, pour discuter de l'évolution du projet, ou pour avoir une démo des fonctionnalités déjà implémentées.
							</div>
						</div>
					</div>
				</li>
				<li class="list-group-item">
					<div class="row">
						<div class="col-md-1 mx-auto my-auto">
							<h1 class="default-2 text-center">4</h1>
						</div>
						<div class="col-md-11">
							<h4 class="mt-2">Finalisation</h4>
							<div class="text-left">
								Dès que la réalisation du projet est terminé, nous finalisons les derniers points et testons la solution ensemble pour nous assurer que tout correspond à vos attentes.
							</div>
						</div>
					</div>
				</li>
				<li class="list-group-item">
					<div class="row">
						<div class="col-md-1 mx-auto my-auto">
							<h1 class="default-2 text-center">5</h1>
						</div>
						<div class="col-md-11">
							<h4 class="mt-2">Profitez !</h4>
							<div class="text-left">
								Vous pouvez profiter en toute tranquilité de votre nouveau projet ! <br />&nbsp;
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="container">
		<hr />
	</div>

	<div class="container">
		<div class="row h-100 pt-5">
			<div class="col-md-12 pt-2">
				<h1 class="text-center display-4">Et pour la facturation ?</h1>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row mt-4 h-100">
			<div class="col-md-12 pt-5">
				<div class="mb-3 container-factu"><i class="fas fa-angle-right"></i> Pour chaque projets, un devis établi selon vos besoins vous permettra d'avoir toutes les clefs en main sur vos dépenses.</div>
				<div class="mb-3 container-factu"><i class="fas fa-angle-right"></i> Les factures sont réglables selon vos dispositions jusqu'à 30 jours après l'émission.</div>
				<div class="mb-3 container-factu"><i class="fas fa-angle-right"></i> Possibilité, pour les gros projets, de faire de l'accompte/solde, ou de payer le développement au mois.</div>
			</div>
		</div>
	</div>

	<div class="container">
		<hr />
	</div>

	<div class="container">
		<div class="row h-100 pt-5 pb-5">
			<div class="col-md-12 pt-5 pb-5">
				<h1 class="text-center display-4">Intéressé pour lancer votre projet ?</h1>
			</div>
			<div class="col-md-12 text-center">
				<a type="button" class="btn btn-primary btn-lg" href="mailto:adriengras51@gmail.com?subject=Contact">
					<i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
					Contactez-moi !
				</a>
			</div>
		</div>
	</div>

{% include "homepage/partials/footer.html.twig" %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}

