{% extends 'base.html.twig' %}

{% block title %}Adrien Gras{% endblock %}

{% block body %}
{% include "homepage/partials/menu.html.twig" %}

<div id="mainpage-head-block">
	<div class="container h-100">
		<div class="row h-100">
			<div class="col-md-12 my-auto">
				<h1 class="display-3" id="mainpage-big-header">Une solution adaptée à vos besoins.</h1>
			</div>
		</div>
	</div>
</div>
<div class="container pt-3">
	<div class="row h-100 pt-5">
		<div class="col-md-3 mx-auto">
			<div class="text-center pb-3">
				<i class="far fa-handshake fa-6x"></i>
                                <hr />
				<div class="mt-3">
					Que ce soit la création de maquettes UX, l'architecture, ou vous aider à vous orienter vers la solution technique la plus adaptée à votre projet, nous pourrons vous assister en s'adaptant à vos besoins.
				</div>
			</div>
		</div>
		<div class="col-md-3 mx-auto">
			<div class="text-center pb-3">
				<i class="fas fa-code fa-6x"></i>
                                <hr />
				<div class="mt-3">
					Pendant la création de votre projet, nous pourrons intéragir régulièrement pour que vous puissiez avoir un état d'avancement précis, et faire évoluer le projet au fil de vos besoins.
				</div>
			</div>
		</div>
		<div class="col-md-3 mx-auto">
			<div class="text-center pb-3">
				<i class="fa fa-server fa-6x"></i>
                                <hr />
				<div class="mt-3">
					Une fois votre projet terminé, nous vous assistons dans sa mise en production et son déploiement sur internet, que ce soit le déploiement sur un serveur, la réservation d'un nom de domaine, ou la sécurisation d'un environement de production.
				</div>
			</div>
		</div>
	</div>
</div>
<hr class="container" />
<div class="container">
	<div class="row h-100 pt-5">
		<div class="col-md-12 pt-2">
			<h1 class="text-center display-4">Comment se déroule un projet avec nous ?</h1>
		</div>
	</div>
</div>
<div class="container h-100">
	<div class="row mt-4">
		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				<dlv class="row">
					<div class="col-md-1 mx-auto my-auto">
						<h1 class="default-2 text-center">1</h1>
					</div>
					<div class="col-md-11">
						<h4 class="mt-2">Préparation</h4>
						<div class="text-left">
							Nous préparons ensemble le projet, en passant par des étapes de réflexion autour des besoins, une construction des fonctionnalités, un maquettage des designs et nous fixons ensemble les objectifs et points clés de votre projet.
						</div>
					</div>
				</dlv>
			</li>
			<li class="list-group-item">
				<dlv class="row">
					<div class="col-md-1 mx-auto my-auto">
						<h1 class="default-2 text-center">2</h1>
					</div>
					<div class="col-md-11">
						<h4 class="mt-2">Devis</h4>
						<div class="text-left">
							Une fois les objectifs et les contours du projet spécifés, nous établissons un devis qui correspond à la réalisation de votre projet. <br />&nbsp;
						</div>
					</div>
				</dlv>
			</li>
			<li class="list-group-item">
				<dlv class="row">
					<div class="col-md-1 mx-auto my-auto">
						<h1 class="default-2 text-center">3</h1>
					</div>
					<div class="col-md-11">
						<h4 class="mt-2">Réalisation</h4>
						<div class="text-left">
							Une fois le devis validé par vos soins, et le projet lancé, vous pouvez à tout moment demander une réunion de suivi pour avoir une mise à jour de l'avancement, pour discuter de l'évolution du projet, ou pour avoir une démo des fonctionnalités déjà implémentés.
						</div>
					</div>
				</dlv>
			</li>
			<li class="list-group-item">
				<dlv class="row">
					<div class="col-md-1 mx-auto my-auto">
						<h1 class="default-2 text-center">4</h1>
					</div>
					<div class="col-md-11">
						<h4 class="mt-2">Finalisation</h4>
						<div class="text-left">
							Dès que le projet est terminé, nous finalisons les derniers points et nous vous rendons le projet terminé. <br />&nbsp;
						</div>
					</div>
				</dlv>
			</li>
			<li class="list-group-item">
				<dlv class="row">
					<div class="col-md-1 mx-auto my-auto">
						<h1 class="default-2 text-center">5</h1>
					</div>
					<div class="col-md-11">
						<h4 class="mt-2">Profitez !</h4>
						<div class="text-left">
							Vous pouvez profiter en toute tranquilité de votre nouveau projet ! <br />&nbsp;
						</div>
					</div>
				</dlv>
			</li>
		</ul>
	</div>
</div>
<hr class="container" />
<div class="container">
	<div class="row h-100 pt-5">
		<div class="col-md-12 pt-2">
			<h1 class="text-center display-4">Et pour la facturation ?</h1>
		</div>
	</div>
</div>

<div class="container">
	<div class="row mt-4 h-100">
		<div class="col-md-12 pt-5">
			<div class="mb-3 container-factu"><i class="fas fa-angle-right"></i> Pour chaque projet, un devis établi selon vos besoins vous permettra d'avoir toutes les clefs en main pour votre projet.</div>
			<div class="mb-3 container-factu"><i class="fas fa-angle-right"></i> Les factures sont réglables selon vos dispositions jusqu'à 30 jours après l'émission.</div>
			<div class="mb-3 container-factu"><i class="fas fa-angle-right"></i> Possibilité, pour les gros projets, de faire de l'accompte/solde, ou de payer le développement au mois.</div>
		</div>
	</div>
</div>
<hr class="container" />
<div class="container">
	<div class="row h-100 pt-5 pb-5">
		<div class="col-md-12 pt-5 pb-5">
			<h1 class="text-center display-4">Intéressé pour lancer votre projet avec nous ?</h1>
		</div>
		<div class="col-md-12 text-center">
                    <button type="button" class="btn btn-primary btn-lg" href="mailto:adriengras51@gmail.com?subject=Contact">
                        <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
                        Contactez-nous !
                    </button>
		</div>
	</div>
</div>

{% include "homepage/partials/footer.html.twig" %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}

