{% extends 'base.html.twig' %}

{% block title %}Adrien Gras{% endblock %}

{% block body %}
{% include "homepage/partials/menu.html.twig" %}

<div class="container h-100">
	<div class="row h-100">
		<div class="col-md-12 my-auto">
			<h1 class="display-4">Services</h1>
		</div>
	</div>
</div>

<div class="container h-100 py-3">

</div>

{% include "homepage/partials/footer.html.twig" %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}

